<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AudioComponents</key>
	<array>
		<dict>
			<key>New item</key>
			<string></string>
			<key>New item - 2</key>
			<string></string>
			<key>description</key>
			<string>Minimum Viable Synth, V3</string>
			<key>factoryFunction</key>
			<string>MVSFactory</string>
			<key>manufacturer</key>
			<string>sbiL</string>
			<key>name</key>
			<string>MVS 4</string>
			<key>sandboxSafe</key>
			<true/>
			<key>subtype</key>
			<string>mvs4</string>
			<key>type</key>
			<string>aumu</string>
			<key>version</key>
			<integer>65536</integer>
		</dict>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.kbobsoft.$(PRODUCT_NAME:rfc1034identifier)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2014 kbobsoft.com. All rights reserved.</string>
</dict>
</plist>
